body {
  font-family: sans-serif;
  
}


/* For WebKit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #0000; /* Change to your desired track color */
}

::-webkit-scrollbar-thumb {
  background-color: #0000; /* Change to your desired thumb color */
  border-radius: 10px;
}

::-webkit-scrollbar-button {
  display: none; /* Hide scrollbar buttons */
}

/* For Firefox */
/* Note: Firefox does not support styling the scrollbar track */
/* You can only style the scrollbar thumb */
* {
  scrollbar-width: thin;
  scrollbar-color: #ad7de7 #6719c5 ; /* Change to your desired thumb and track color */
}

/* For Internet Explorer */
/* Note: Internet Explorer does not support styling the scrollbar */
